html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

h1 {
    color: black;
    background-color: rgb(92, 239, 200);
    text-decoration: underline;
    text-align: center;
    padding: 1em;
    font-weight: bolder;
    margin: 1em 1em 0em 1em;
}

/* .block__element--modifier (if an element is standalone then it is actually a block */

.UserInterface {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    background-color: darkcyan;
    
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: bolder;
    font-size: 1.4em;
    padding: 0.40em;
    margin: 0.25em;
}
.UserInterface-AddButtons {
 display: flex;
 justify-content: space-evenly;
}

.UserInterface-AddButtons button {
    background-color: rgb(187, 182, 255);
}

.UserInterface-RearrangeButtons {
    display: flex;
    justify-content: space-evenly;
}

.UserInterface-RearrangeButtons button {
    background-color: rgb(182, 244, 255);
}
.UserInterface-AdditionalFunctionalityButtons {
    display: flex;
    justify-content: space-evenly;
}
.UserInterface-AdditionalFunctionalityButtons button {
    background-color: lightgreen;
}

.ProjectandTodoArea {
    display: block;
    background-color: #225764;
    color: black;
    font-weight: bolder;
    
}


div[class^='projectarea']{
    display:flex; 
    gap: 1em;
    margin: 1em 0em 1em 0em;
}

div[class^='todoitem'] {
    background-color: #79d4ff;
    border-radius: 25px; 
    padding: 0.8em;
    margin-bottom: 1em;
}

div[class^='Title'] {
    color: rgb(127, 250, 244);
    text-decoration: underline;
    font-weight: bolder;
}

#invisible {
    display: none;
}


