html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

h1 {
    color: black;
    background-color: rgb(92, 239, 200);
    text-decoration: underline;
    text-align: center;
    padding: 1em;
    font-weight: bolder;
}

/* .block__element--modifier (if an element is standalone then it is actually a block */

.UserInterface {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
}
.UserInterface h2 {
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 0.40em;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(187, 182, 255);
    color: black;
    font-weight: bolder;
    padding: 0.40em;
    margin: 0.25em;
}

.UserInterface_TodolistReordererButtonArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
}
.UserInterface_TodolistReordererButtonArea-RearrangeButtons {
    display: flex; 
    justify-content: center; 
    
}

.UserInterface_TodolistReordererButtonArea-projectbuttoncontainer {
    display: flex;
    justify-content: center;
   }


.ProjectandTodoArea {
    background-color: rgb(12, 85, 75);
    color: white;
}